<p-panel *ngIf="allClients.length" header="Следующие действия по моим клиентам">
  <ng-template pTemplate="icons">
    <div>
      <p-multiSelect
        appendTo="body"
        size="small"
        *ngIf="availableSpecialists.length > 0 && activeIndex === 3 || activeIndex === 4"
        [options]="availableSpecialists"
        [(ngModel)]="selectedSpecialist"
        placeholder="Специалист"
        optionLabel="name"
        optionValue="id"
        (onPanelHide)="filterClients()"
        selectedItemsLabel="{0} спициалистов выбрано"
        [maxSelectedLabels]="1"
      ></p-multiSelect>

      <p-button size="small" (onClick)="refresh()" class="mx-2">
        <i class="pi pi-refresh" [ngClass]="{'pi-spin': loading}"></i>
      </p-button>
    </div>
  </ng-template>

  <p-tabView [(activeIndex)]="activeIndex">
    <p-tabPanel header="Сегодня и прошлые ({{myClients.length}})">
      <div class="h-20rem">
        <za-grid
          *ngIf="gridConfig && myClients && myClients.length"
          [gridConfig]="gridConfig"
          [actions]="gridActionsConfig"
          [getColorConfig]="getColorConfig"
          [fixedHeight]="300"
          [virtualScroll]="false"
          [doubleClickFuction]="updateClient"
          [getTooltipConfig]="getTooltipConfig"
          [gridData]="myClients"
        ></za-grid>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Будущие ({{myFutureClients.length}})">
      <div class="h-20rem">
        <za-grid
          *ngIf="gridConfig && myFutureClients && myFutureClients.length"
          [gridConfig]="gridConfig"
          [actions]="gridActionsConfig"
          [getColorConfig]="getColorConfig"
          [fixedHeight]="300"
          [virtualScroll]="false"
          [doubleClickFuction]="updateClient"
          [getTooltipConfig]="getTooltipConfig"
          [gridData]="myFutureClients"
        ></za-grid>
      </div>
    </p-tabPanel>
    <ng-container *ngIf="!isCarSales">
      <p-tabPanel *ngIf="!isCarSales" header="Все ({{allClients.length}})">
        <div class="h-20rem">
          <za-grid
            *ngIf="gridConfig && allClients && allClients.length"
            [gridConfig]="gridConfig"
            [actions]="gridActionsConfig"
            [getColorConfig]="getColorConfig"
            [fixedHeight]="300"
            [virtualScroll]="false"
            [doubleClickFuction]="updateClient"
            [getTooltipConfig]="getTooltipConfig"
            [gridData]="allClients"
          ></za-grid>
        </div>
      </p-tabPanel>
      <p-tabPanel *ngIf="!isCarSales" header="Сегодня и прошлые сотрудников ({{someClients.length}})">
        <div class="h-20rem">
          <za-grid
            *ngIf="gridConfig && someClients && someClients.length"
            [gridConfig]="gridConfig"
            [actions]="gridActionsConfig"
            [getColorConfig]="getColorConfig"
            [fixedHeight]="300"
            [virtualScroll]="false"
            [doubleClickFuction]="updateClient"
            [getTooltipConfig]="getTooltipConfig"
            [gridData]="someClients"
          ></za-grid>
        </div>
      </p-tabPanel>
      <p-tabPanel *ngIf="!isCarSales" header="Будущие сотрудников ({{someFutureClients.length}})">
        <div class="h-20rem">
          <za-grid
            *ngIf="gridConfig && someFutureClients && someFutureClients.length"
            [gridConfig]="gridConfig"
            [actions]="gridActionsConfig"
            [getColorConfig]="getColorConfig"
            [fixedHeight]="300"
            [virtualScroll]="false"
            [doubleClickFuction]="updateClient"
            [getTooltipConfig]="getTooltipConfig"
            [gridData]="someFutureClients"
          ></za-grid>
        </div>
      </p-tabPanel>
    </ng-container>
  </p-tabView>
</p-panel>

<za-spinner *ngIf="loading"></za-spinner>
