<p-contextMenu
  #cm
  appendTo="body"
  [model]="contextActions"
  (onShow)="onShow($event)"
></p-contextMenu>

@if (
  {
    loading: dataService.loading()!,
    data: dataService.list()!,
  };
  as uiData
) {
  <p-table
    [lazy]="true"
    (onLazyLoad)="updatePage($event)"
    [sortField]="sortField"
    [sortOrder]="-1"
    [(contextMenuSelection)]="contextSelectedItem"
    [contextMenu]="cm"
    styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
    [value]="uiData.data.list"
    [selectionMode]="selectionMode || 'single'"
    [metaKeySelection]="true"
    [(selection)]="selectedKeys"
    (selectionChange)="onSelect($event)"
    dataKey="id"
    responsiveLayout="scroll"
    [paginator]="true"
    [rows]="size"
    [totalRecords]="uiData.data.total"
    [loading]="uiData.loading"
    [first]="first"
  >
    <ng-template pTemplate="header">
      <tr>
        @if (checkboxMode) {
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
        }
        @for (config of gridConfig; track config) {
          @if (config.sortable && config.sortable()) {
            <th [pSortableColumn]="config.name">
              {{ config.title }} <p-sortIcon [field]="config.name"></p-sortIcon>
            </th>
          }
          @if (!config.sortable || !config.sortable()) {
            <th>
              {{ config.title }}
            </th>
          }
        }
        <!-- <th></th> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-gridItem let-rowIndex="rowIndex">
      <tr
        (dblclick)="rowDoubleClick(gridItem)"
        [ngStyle]="{ height: gridItemHeight + 'px' }"
        [pSelectableRow]="gridItem"
        [pSelectableRowIndex]="rowIndex"
        [pTooltip]="(getTooltipConfig && getTooltipConfig(gridItem)) || ''"
        tooltipPosition="top"
        [tooltipDisabled]="!getTooltipConfig"
        appendTo="body"
        [showDelay]="1000"
        [ngStyle]="{
          backgroundColor:
            getColorConfig && getColorConfig(gridItem)
              ? getColorConfig(gridItem)
              : '',
        }"
        [pContextMenuRow]="gridItem"
        [pSelectableRow]="gridItem"
      >
        @if (checkboxMode) {
          <td>
            <!-- <p-tableCheckbox [value]="gridItem"></p-tableCheckbox> -->
          </td>
        }
        @for (config of gridConfig; track config) {
          <td>
            {{ config.getValue(gridItem) }}
          </td>
        }
        <!-- <td class="buttons">
        <button
          *ngFor="let actionConfig of actions"
          type="button"
          pButton
          [disabled]="actionConfig.disabled ? actionConfig.disabled() : false"
          pRipple
          icon="pi pi-{{actionConfig.icon}}"
          class="p-button-{{actionConfig.buttonClass}}"
          (click)="actionConfig.handler(gridItem)"
          >
          {{ actionConfig?.title }}
        </button>
      </td> -->
      </tr>
    </ng-template>
    <!-- <ng-template pTemplate="paginatorleft">
  <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
</ng-template>
<ng-template pTemplate="paginatorright">
  <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
</ng-template> -->
  </p-table>
}
