<za-dynamic-form
  (changed)="setValidForm($event)"
  [fields]="dynamicFormFields"
></za-dynamic-form>

<za-spinner *ngIf="loading"></za-spinner>

<div class="footer">
  <button
    pButton
    icon="pi pi-save"
    [disabled]="!formValid"
    type="button"
    [label]="!!user ? 'Редактировать' : 'Создать'"
    (click)="create()"
    class="p-mr-2 p-mb-2 p-button-success"
  ></button>
  <button
    pButton
    icon="pi pi-times"
    type="button"
    label="Отмена"
    class="p-mb-2 p-button-danger"
    (click)="cancel()"
  ></button>
</div>
