/* You can add global styles to this file, and also import other style files */
@import '../node_modules/highlight.js/styles/googlecode.css';

body,
html {
  padding: 0;
  margin: 0;

  font-size: 14px;
}

:root {
  --header-height: 44px;
  --footer-height: 64px;
  --header-margin: 10px;
}
.nowrap {
  white-space: nowrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.thin-scrollbar {
  &::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
    background: rgb(143, 143, 143) !important;
    border-radius: 8px !important;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(66, 66, 72, 0.7) !important;
    border-radius: 8px !important;
  }
  &:hover {
    &::-webkit-scrollbar {
      transition: all 1s; // не работает (
      width: 10px !important;
      height: 10px !important;
      background: rgb(143, 143, 143) !important;
      border-radius: 8px !important;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(26, 26, 30, 0.7) !important;
    }
  }
}
