// .p-toolbar-group-left > * + * {
//   margin-left: 10px;
// }

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .form-wrapper {
    margin-top: 10px;
    flex: 1 1 auto;
    overflow: auto;
  }
}
