<p-panel *ngIf="allCallRequests.length" header="Заявки">
  <ng-template pTemplate="icons">
    <p-button size="small" (onClick)="refresh()" class="mr-2">
      <i class="pi pi-refresh" [ngClass]="{'pi-spin': loading}"></i>
    </p-button>
  </ng-template>

  <p-tabView>
    <p-tabPanel header="Мои ({{myCallRequests.length}})">
      <div class="h-8rem">
        <za-grid
          *ngIf="gridConfig"
          [fixedHeight]="140"
          [virtualScroll]="false"
          [gridConfig]="gridConfig"
          [actions]="gridActionsConfig"
          [getColorConfig]="getColorConfig"
          [gridData]="myCallRequests"
        ></za-grid>
      </div>
    </p-tabPanel>
    <p-tabPanel *ngIf="!isCarSales" header="Все ({{allCallRequests.length}})">
      <div class="h-8rem">
        <za-grid
          *ngIf="gridConfig"
          [fixedHeight]="140"
          [virtualScroll]="false"
          [gridConfig]="gridConfig"
          [actions]="gridActionsConfig"
          [getColorConfig]="getColorConfig"
          [gridData]="allCallRequests"
        ></za-grid>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Использованные ({{usedCallRequests.length}})">
      <div class="h-8rem">
        <za-grid
          *ngIf="gridConfig"
          [fixedHeight]="140"
          [virtualScroll]="false"
          [gridConfig]="gridConfig"
          [actions]="gridActionsConfig"
          [getColorConfig]="getColorConfig"
          [gridData]="usedCallRequests"
        ></za-grid>
      </div>
    </p-tabPanel>
  </p-tabView>
</p-panel>

<za-spinner *ngIf="loading"></za-spinner>
