<p></p>
<p-toolbar>
  <div class="p-toolbar-group-left">
    <button
      pButton
      type="button"
      label="Добавить показ"
      icon="pi pi-plus"
      (click)="openNewCarShowingWindow()"
    ></button>
  </div>
</p-toolbar>
<p></p>
<za-grid
  [gridConfig]="gridConfig"
  [gridData]="carStatistics"
  [actions]="gridActionsConfig"
></za-grid>

<div class="footer mt-2">
  <!-- <button pButton icon="pi pi-save" [disabled]="formNotValid" type="button" [label]="'Готово'" (click)="create()" class="p-mr-2 p-mb-2 p-button-success"></button> -->
  <button
    pButton
    icon="pi pi-times"
    type="button"
    label="Закрыть"
    class="p-mb-2 p-button-danger"
    (click)="cancel()"
  ></button>
</div>

@if (loading) {
  <za-spinner></za-spinner>
}
