<p-table [value]="gridData">
  <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let config of gridConfig">
                {{ config.title }}
            </th>
            <th style="width:8rem"></th>
        </tr>
  </ng-template>
  <ng-template pTemplate="body" let-gridItem>
        <tr>
            <td *ngFor="let config of gridConfig">
                {{ config.getValue(gridItem) }}
            </td>
            <td>
                <button
                  *ngFor="let actionConfig of actions"
                  type="button"
                  pButton
                  pRipple
                  icon="pi pi-{{actionConfig.icon}}"
                  class="p-button-{{actionConfig.buttonClass}}"
                  (click)="actionConfig.handler(gridItem)"
                >
                  {{ actionConfig?.title }}
                </button>
            </td>
        </tr>
  </ng-template>
</p-table>
