<p-table responsiveLayout="scroll"
  [(selection)]="selectedKeys"
  dataKey="id"
  styleClass="p-datatable-sm p-datatable-gridlines"
  [value]="gridData"
  (selectionChange)="onSelect($event)"
  (sortFunction)="customSort($event)" 
  [customSort]="true"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <ng-container *ngFor="let config of gridConfig">
        <th *ngIf="config.sortable && config.sortable()" [pSortableColumn]="config.name">
          {{ config.title }} <p-sortIcon [field]="config.name"></p-sortIcon>
        </th>
        <th *ngIf="!config.sortable || !config.sortable()">
          {{ config.title }}
        </th>
      </ng-container>
      
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-gridItem>
    <tr>
      <td>
        <p-tableCheckbox [value]="gridItem"></p-tableCheckbox>
      </td>
      <td *ngFor="let config of gridConfig">
        {{ config.getValue(gridItem) }}
      </td>
      <td class="buttons">
        <button
          *ngFor="let actionConfig of actions"
          type="button"
          pButton
          [disabled]="actionConfig.disabled ? actionConfig.disabled() : false"
          pRipple
          icon="pi pi-{{actionConfig.icon}}"
          class="p-button-{{actionConfig.buttonClass}}"
          (click)="actionConfig.handler(gridItem)"
        >
          {{ actionConfig?.title }}
        </button>
      </td>
    </tr>
  </ng-template>
  <!-- <ng-template pTemplate="paginatorleft">
    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
  </ng-template>
  <ng-template pTemplate="paginatorright">
    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
  </ng-template> -->
</p-table>
