<form class="p-fluid grid formgrid" [formGroup]="formGroup" autocomplete="nope">
  @for (field of fields; track field) {
    <div class="p-field col-4">
      @switch (field.controlType) {
        @case (FieldType.Date) {
          <za-date-form-fields
            [field]="field"
            [form]="formGroup"
          ></za-date-form-fields>
        }
        @default {
          <za-primitive-form-field
            [field]="field"
            [form]="formGroup"
          ></za-primitive-form-field>
        }
      }
    </div>
  }
</form>
