<div class="wrapper">
  <div class="content">
    <!-- <div *ngIf="availableStatuses.length > 1" class="status-wrapper">
      <h5>Поменять статус на</h5>
      <p-dropdown appendTo="body" [options]="statuses" [(ngModel)]="selectedStatus" placeholder="Выберите статус" optionLabel="value" optionValue="key"></p-dropdown>
    </div> -->
    <div class="comment-wrapper">
      <h5>Ссылка на видео</h5>
      <input type="text" pInputText [(ngModel)]="link">
    </div>
    <div class="images-wrapper">
      <div class="card">
        <p-fileUpload name="myfile[]" [customUpload]="true" [multiple]="true"  (uploadHandler)="uploadNewImage($event)"></p-fileUpload>
      </div>

      <p-carousel [value]="images" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
        <ng-template pTemplate="header">
          <h5>Basic</h5>
        </ng-template>
        <ng-template let-image pTemplate="item">
          <p-image [src]="getImageUrl(image)" [alt]="image.name" width="250" [preview]="true"></p-image>

          <!-- <div class="image-item">
            <div class="image-item-content">
              <div class="p-mb-3">
                <img [src]="getImageUrl(image)" [alt]="product.name" class="product-image" />
              </div>
              <div>
                <h4 class="p-mb-1">{{product.name}}</h4>
                <h6 class="p-mt-0 p-mb-3">${{product.price}}</h6>
                <span [class]="'product-badge status-'+product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
                <div class="car-buttons p-mt-5">
                  <p-button type="button" styleClass="p-button p-button-rounded p-mr-2" icon="pi pi-search"></p-button>
                  <p-button type="button" styleClass="p-button-success p-button-rounded p-mr-2" icon="pi pi-star-fill"></p-button>
                  <p-button type="button" styleClass="p-button-help p-button-rounded" icon="pi pi-cog"></p-button>
                </div>
              </div>
            </div>
          </div> -->
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>

<div class="footer">
  <button pButton icon="pi pi-save" [disabled]="formNotValid" type="button" [label]="'Готово'" (click)="create()" class="p-mr-2 p-mb-2 p-button-success"></button>
  <button pButton icon="pi pi-times" type="button" label="Отмена" class="p-mb-2 p-button-danger" (click)="cancel()"></button>
</div>

<za-spinner *ngIf="loading"></za-spinner>
