.wrapper {
  .content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
}

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .container {
    padding: 0;
  }

  .footer {
    border-top: 0;
    text-align: right;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    display: flex;
    justify-content: flex-end;
  }

  .footer button {
    margin: 0 0.5rem 0 0;
    width: auto;
  }
}
