<za-settings-cars [type]="QueryCarTypes.carsForSale" [isSelectCarModalMode]="true" [selected]="origignalCars" (onSelectCar)="onSelectCar($event)"></za-settings-cars>

<div class="footer">
  <button pButton icon="pi pi-save" [disabled]="!formValid" type="button" [label]="'Сохранить'" (click)="save()" class="p-mr-2 p-mb-2 p-button-success"></button>
  <button pButton icon="pi pi-times" type="button" label="Отмена" class="p-mb-2 p-button-danger" (click)="cancel()"></button>
</div>

<za-spinner *ngIf="loading"></za-spinner>
