<div class="card">
  <div class="card-body">
    <form
      *ngIf="form"
      [formGroup]="form">

      <div class="flex flex-row justify-content-start align-items-center row-gap-1 col-12">
        
        <p-multiSelect
          class="ml-2"
          [options]="dealStatuses"
          formControlName="dealStatus"
          [filter]="true"
          filterBy="name"
          optionLabel="name"
          optionValue="value"
          [maxSelectedLabels]="2"
          selectedItemsLabel="{0} статусов выбрано"
          placeholder="Статус сделки"/>

        <p-dropdown
          class="ml-2"
          [options]="clientStatuses"
          formControlName="clientStatus"
          [filter]="true"
          filterBy="name"
          optionLabel="name"
          optionValue="value"
          placeholder="Статус клиента"/>

        <p-calendar
          class="ml-2"
          appendTo="body"
          formControlName="dateFrom"
          [showTime]="false"
          [firstDayOfWeek]="1"
          placeholder="Дата от"
        ></p-calendar>  

        <p-calendar
          class="ml-2"
          appendTo="body"
          formControlName="dateTo"
          [showTime]="false"
          [firstDayOfWeek]="1"
          placeholder="До"
        ></p-calendar>
        
        <p-dropdown
          class="ml-2"
          [options]="sourceList"
          formControlName="source"
          [filter]="true"
          filterBy="name"
          optionLabel="name"
          optionValue="value"
          placeholder="Источник"/>

          <p-dropdown
            class="ml-2"
            [options]="specialistList"
            formControlName="specialist"
            [filter]="true"
            filterBy="name"
            optionLabel="name"
            optionValue="value"
            placeholder="Специалист"/>
          
          <input pInputText class="ml-2 p-inputtext" type="text" formControlName="phone" pInputText placeholder="Телефон"/>

      </div>
    </form>
  </div>

  <p-toolbar>
    <div class="p-toolbar-group-left">
      <span>Кол-во: {{ (clientBaseService.list$ | async)?.total || 0 }}</span>
      <button
        pButton
        type="button"
        label="Добавить клиента"
        icon="pi pi-plus"
        (click)="openNewClientWindow()"
      ></button>
    </div>
  
    <div class="p-toolbar-group-right">
      <p-button size="small" label="Filter" (onClick)="filter()" class="mr-2">
        <i class="pi pi-refresh"></i>
      </p-button>
      <p-button size="small" label="Clear" (onClick)="clearFilters()" class="mr-2">
      </p-button>
    </div>
  </p-toolbar>
</div>

<div class="grid-wrapper">
  <za-pageagle-grid
    [gridConfig]="gridConfig"
    [actions]="gridActionsConfig"
    [getColorConfig]="getColorConfig"
    [dataService]="clientBaseService"
    [sortField]="'date'"
    [first] = "first"
  ></za-pageagle-grid>
</div>

<za-spinner *ngIf="loading$ | async"></za-spinner>
