.p-toolbar-group {
  &-left, &-right {
    & > * + * {
      margin-left: 5px;
    }
  }
}


:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .grid-wrapper {
    margin-top: 10px;
    flex: 1 1 auto;
    overflow: auto;
  }
}

p-slider {
  width: 100%;
}
