<p></p>
<p-toolbar>
    <div class="p-toolbar-group-left">
        <span *ngIf="availableStatuses.length > 0" style="color: white">Cтатус</span>
        <p-dropdown
          *ngIf="availableStatuses.length > 0"
          [autoDisplayFirst]="true"
          [options]="availableStatuses"
          [(ngModel)]="selectedStatus"
          (onChange)="sortCars()"
          optionLabel="key"
          optionValue="value"
        ></p-dropdown>
        <button pButton type="button" [disabled]="carFieldConfigs.length === 0" label="Добавить машину" icon="pi pi-plus" (click)="openNewCarWindow()"></button>

        <!-- <i class="pi pi-bars"></i> -->
    </div>

    <!-- <div class="p-toolbar-group-right">
        <p-button icon="pi pi-search"></p-button>
        <p-button icon="pi pi-calendar" styleClass="p-button-success"></p-button>
        <p-button icon="pi pi-times" styleClass="p-button-danger"></p-button>
    </div> -->
</p-toolbar>
<p></p>
<za-grid [gridConfig]="gridConfig" [gridData]="sortedCars" [actions]="gridActionsConfig" ></za-grid>
