<p-toolbar>
  <div class="p-toolbar-group-left">
    <div style="display: flex; flex-direction: column; align-items: center;">
      <span>{{type === queryCarTypes.carsForSale ? 'Всего автомобилей: ' : 'Выбрано автомобилей: '}}{{ allCarsNumber }}</span>
    </div>

    <button *ngIf="addCarButtonAvailable" pButton type="button" [disabled]="carFieldConfigs.length === 0" label="Добавить машину" icon="pi pi-plus" (click)="openNewCarWindow()"></button>

    <input *ngIf="isSearchAvailable" type="text" (change)="onSearch($event)" pInputText placeholder="Марка/модель"/>

    <div style="display: flex; flex-direction: column; align-items: center;">
      <p-multiSelect
        appendTo="body"
        *ngIf="availableStatuses.length > 1"
        [options]="availableStatuses"
        [(ngModel)]="selectedStatus"
        placeholder="Статус"
        optionLabel="label"
        optionValue="value"
        (onPanelHide)="sortCars()"
        selectedItemsLabel="{0} статусов выбрано"
        [maxSelectedLabels]="1"
      ></p-multiSelect>
    </div>

    <div *ngIf="onSelectContactUserAvailable && contactCenterUserOptions.length > 0 " style="display: flex; flex-direction: column; align-items: center;">
      <p-multiSelect
        appendTo="body"
        [options]="contactCenterUserOptions"
        [(ngModel)]="selectedContactCenterUsers"
        placeholder="Сотрудник ОКЦ"
        optionLabel="label"
        optionValue="key"
        (onPanelHide)="sortCars()"
        selectedItemsLabel="{0} сотрудников выбрано"
        [maxSelectedLabels]="1"
      ></p-multiSelect>
    </div>

    <div style="display: flex; flex-direction: column; align-items: center;">
      <!-- <label for="range">Дата создания</label> -->
      <p-calendar
        dateFormat="dd/mm/yy"
        appendTo="body"
        [(ngModel)]="rangeDates"
        selectionMode="range"
        [readonlyInput]="true"
        inputId="range"
        (onClose)="sortCars()"
        [showButtonBar]="true"
        placeholder="Дата создания"
      ></p-calendar>
    </div>


    <!-- <i class="pi pi-bars"></i> -->
  </div>

  <div class="p-toolbar-group-right">
    <!-- <p-button icon="pi pi-search"></p-button>
    <p-button icon="pi pi-calendar" styleClass="p-button-success"></p-button>
    <p-button icon="pi pi-times" styleClass="p-button-danger"></p-button> -->

    <p-button [label]="selectedFilters.length > 0 ? selectedFilters.length + ' фильтров выбрано' : 'Фильтры'" icon="pi pi-filter" (click)="op.toggle($event)"></p-button>
    <p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '550px', padding: '10px'}">
      <ng-template pTemplate>
        <div class="p-fluid grid formgrid">
          <div *ngFor="let filter of filters" class="p-field col-4" style="display: flex; flex-direction: column; align-items: flex-start; padding: 10px">
            <ng-container *ngIf="filter.type === FieldTypes.Dropdown">
              <span style="margin-bottom: 2px;">{{filter.title}}</span>
              <p-dropdown
                appendTo="body"
                [autoDisplayFirst]="true"
                [options]="filter.variants || []"
                [(ngModel)]="filter.value"
                (onChange)="changeFilter(filter, $event)"
                optionLabel="label"
                optionValue="value"
              ></p-dropdown>
            </ng-container>

            <ng-container *ngIf="filter.type === FieldTypes.Multiselect">
              <span style="margin-bottom: 2px;">{{filter.title}}</span>
              <p-multiSelect
                appendTo="body"
                [options]="filter.variants || []"
                [(ngModel)]="filter.value"
                placeholder="Все"
                optionLabel="label"
                optionValue="value"
                (onChange)="changeMultiselectFilter(filter, $event)"
                selectedItemsLabel="{0} выбрано"
                [maxSelectedLabels]="0"
              ></p-multiSelect>
            </ng-container>

            <ng-container *ngIf="filter.type === FieldTypes.Text">
              <span style="margin-bottom: 2px;">{{filter.title}}</span>

              <input type="text"  [(ngModel)]="filter.value" (change)="changeFilter(filter, transformFormInputEvent($event))" pInputText [placeholder]="'Все'"/>
            </ng-container>

            <ng-container *ngIf="filter.type === FieldTypes.Number">
              <span style="margin-bottom: 10px;">{{filter.title}} {{(filter.values[0] === filter.min ? 'Все' : filter.values[0]) + ' - ' + (filter.values[1] === filter.max ? 'Все' : filter.values[1])}}</span>
              <p-slider
                [min]="filter.min" [max]="filter.max"
                [(ngModel)]="filter.values"
                [step]="filter.step"
                [range]="true"
                (onChange)="changeNumberRangeFilter(filter, $event)"
              ></p-slider>
            </ng-container>
          </div>
        </div>
      </ng-template>
    </p-overlayPanel>
  </div>
</p-toolbar>
<p></p>
<za-grid
  [getTooltipConfig]="getTooltipConfig"
  [getColorConfig]="getColorConfig"
  [checkboxMode]="isSelectCarModalMode"
  [gridConfig]="gridConfig"
  [gridData]="sortedCars"
  [actions]="gridActionsConfig"
  [selected]="selected"
  (onSelectEntity)="onSelectEntity($event)"
></za-grid>

<za-spinner *ngIf="loading"></za-spinner>
