<p-toolbar>
  <div class="p-toolbar-group-left">
    <button *ngIf="addCarButtonAvailable" pButton type="button" [disabled]="carFieldConfigs.length === 0" label="Добавить машину" icon="pi pi-plus" (click)="openNewCarWindow()"></button>

    <input *ngIf="isSearchAvailable" type="text" (change)="onSearch($event)" pInputText placeholder="Марка/модель"/>

    <div style="display: flex; flex-direction: column; align-items: center;">
      <!-- <span *ngIf="availableStatuses.length > 0" style="color: white; margin-bottom: 2px;">Cтатус</span> -->
      <!-- <p-dropdown
        *ngIf="availableStatuses.length > 0"
        [autoDisplayFirst]="true"
        [options]="availableStatuses"
        [(ngModel)]="selectedStatus"
        (onChange)="sortCars()"
        optionLabel="label"
        optionValue="value"
      ></p-dropdown> -->
      <!-- <h5>Template Mode</h5> -->
      <p-multiSelect
        appendTo="body"
        *ngIf="availableStatuses.length > 0"
        [options]="availableStatuses"
        [(ngModel)]="selectedStatus"
        placeholder="Статус"
        optionLabel="label"
        optionValue="value"
        (onPanelHide)="sortCars()"
        selectedItemsLabel="{0} статусов выбрано"
      ></p-multiSelect>
    </div>

    <!-- <i class="pi pi-bars"></i> -->
  </div>

  <div class="p-toolbar-group-right">
    <!-- <p-button icon="pi pi-search"></p-button>
    <p-button icon="pi pi-calendar" styleClass="p-button-success"></p-button>
    <p-button icon="pi pi-times" styleClass="p-button-danger"></p-button> -->

    <p-button [label]="selectedFilters.length > 0 ? selectedFilters.length + ' фильтров выбрано' : 'Фильтры'" icon="pi pi-filter" (click)="op.toggle($event)"></p-button>
    <p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '550px', padding: '10px'}">
      <ng-template pTemplate>
        <div class="p-fluid grid formgrid">
          <div *ngFor="let filter of filters" class="p-field col-4" style="display: flex; flex-direction: column; align-items: flex-start; padding: 10px">
            <ng-container *ngIf="filter.type === FieldTypes.Dropdown">
              <span style="color: white; margin-bottom: 2px;">{{filter.title}}</span>
              <p-dropdown
                appendTo="body"
                [autoDisplayFirst]="true"
                [options]="filter.variants || []"
                [(ngModel)]="filter.value"
                (onChange)="changeFilter(filter, $event)"
                optionLabel="label"
                optionValue="value"
              ></p-dropdown>
            </ng-container>

            <ng-container *ngIf="filter.type === FieldTypes.Text">
              <span style="color: white; margin-bottom: 2px;">{{filter.title}}</span>

              <input type="text"  [(ngModel)]="filter.value" (change)="changeFilter(filter, transformFormInputEvent($event))" pInputText [placeholder]="'Все'"/>
            </ng-container>

            <ng-container *ngIf="filter.type === FieldTypes.Number">
              <span style="color: white; margin-bottom: 10px;">{{filter.title}} {{(filter.values[0] === filter.min ? 'Все' : filter.values[0]) + ' - ' + (filter.values[1] === filter.max ? 'Все' : filter.values[1])}}</span>
              <p-slider
                [min]="filter.min" [max]="filter.max"
                [(ngModel)]="filter.values"
                [step]="filter.step"
                [range]="true"
                (onChange)="changeNumberRangeFilter(filter, $event)"
              ></p-slider>
            </ng-container>
          </div>
        </div>
      </ng-template>
    </p-overlayPanel>
  </div>
</p-toolbar>
<p></p>
<za-grid [checkboxMode]="isSelectCarModalMode" [gridConfig]="gridConfig" [gridData]="sortedCars" [actions]="gridActionsConfig" [selected]="selected" (onSelectEntity)="onSelectEntity($event)"></za-grid>

<za-spinner *ngIf="loading"></za-spinner>
