<div class="card">
  <div class="card-body">
    @if (form) {
      <form (ngSubmit)="onFilter()" [formGroup]="form">
        <div
          class="flex flex-row justify-content-start align-items-center row-gap-1 col-12"
        >
          <p-dropdown
            formControlName="sourceName"
            [options]="domains"
            optionLabel="name"
            optionValue="value"
            placeholder="Выберите таблицу"
            class="ng-dirty"
            [showClear]="true"
          />
          <p-dropdown
            class="ml-2"
            [options]="users"
            formControlName="userId"
            [filter]="true"
            filterBy="name"
            optionLabel="name"
            optionValue="id"
            [showClear]="true"
            placeholder="Выберите пользователя"
          />
          <p-calendar
            class="ml-2"
            appendTo="body"
            [formControlName]="'date'"
            [showTime]="false"
            [firstDayOfWeek]="1"
            placeholder="Дата от"
          ></p-calendar>
          @if (form.get('sourceName')?.value === 'clients') {
            <label class="mx-2" for="sold">Показать проданные</label>
            <p-checkbox
              id="sold"
              [(ngModel)]="sold"
              [ngModelOptions]="{ standalone: true }"
              [binary]="true"
              inputId="binary"
            />
          }
        </div>
      </form>
    }
  </div>

  <div
    class="flex flex-row justify-content-between align-items-center row-gap-1 col-12"
  >
    <span>Кол-во: {{ changeLogDataService.list().total || 0 }}</span>
    <p-button label="Filter" (onClick)="onFilter()" />
  </div>
</div>

<!-- <p-toolbar>
      <div class="p-toolbar-group-left">
        <span>
          Кол-во: {{ list.length }}
        </span>
        <button
          pButton
          type="button"
          [disabled]="fieldConfigs.length === 0"
          label="Добавить клиента"
          icon="pi pi-plus"
          (click)="openNewClientWindow()"
        ></button>
      </div>

      <div class="p-toolbar-group-right">
        <p-button size="small" (onClick)="refresh()" class="mr-2">
          <i class="pi pi-refresh" [ngClass]="{'pi-spin': loading}"></i>
        </p-button>
      </div>
    </p-toolbar> -->
<div class="grid-wrapper">
  <za-pageagle-grid
    [gridConfig]="gridConfig"
    [actions]="gridActionsConfig"
    [getColorConfig]="getColorConfig"
    [dataService]="changeLogDataService"
    [sortField]="'date'"
    [first]="first"
  ></za-pageagle-grid>
</div>

@if (loading) {
  <za-spinner></za-spinner>
}
