<p-toolbar>
  <div class="p-toolbar-group-left">
    <button
      pButton
      type="button"
      [disabled]="fieldConfigs.length === 0"
      label="Добавить клиента"
      icon="pi pi-plus"
      (click)="openNewClientWindow()"
    ></button>

    <div style="display: flex; flex-direction: column; align-items: center;">
      <p-multiSelect
        appendTo="body"
        *ngIf="availableStatuses.length > 0"
        [options]="availableStatuses"
        [(ngModel)]="selectedStatus"
        placeholder="Статус сделки"
        optionLabel="label"
        optionValue="value"
        (onPanelHide)="sortClients()"
        selectedItemsLabel="{0} статусов выбрано"
        [maxSelectedLabels]="1"
      ></p-multiSelect>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
      <p-multiSelect
        appendTo="body"
        *ngIf="availableClientStatuses.length > 0"
        [options]="availableClientStatuses"
        [(ngModel)]="selectedClientStatus"
        placeholder="Статус клиента"
        optionLabel="label"
        optionValue="value"
        (onPanelHide)="sortClients()"
        selectedItemsLabel="{0} статусов клиента выбрано"
        [maxSelectedLabels]="1"
      ></p-multiSelect>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
      <p-multiSelect
        appendTo="body"
        *ngIf="availableClientSources.length > 0"
        [options]="availableClientSources"
        [(ngModel)]="selectedClientSource"
        placeholder="Источник"
        optionLabel="label"
        optionValue="value"
        (onPanelHide)="sortClients()"
        selectedItemsLabel="{0} источников выбрано"
        [maxSelectedLabels]="1"
      ></p-multiSelect>
    </div>
    <div *ngIf="isCarSalesChiefOrAdmin" style="display: flex; flex-direction: column; align-items: center;">
      <p-multiSelect
        appendTo="body"
        *ngIf="availableSpecialists.length > 0"
        [options]="availableSpecialists"
        [(ngModel)]="selectedSpecialist"
        placeholder="Специалист"
        optionLabel="label"
        optionValue="value"
        (onPanelHide)="sortClients()"
        selectedItemsLabel="{0} спициалистов выбрано"
        [maxSelectedLabels]="1"
      ></p-multiSelect>
    </div>
    <span>Дата создания от</span>
    <div class="date-wrapper">
      <p-calendar appendTo="body" [showButtonBar]="true" (onClose)="sortClients()" [(ngModel)]="dateFrom" [showTime]="false" hourFormat="24" [firstDayOfWeek]="1"></p-calendar>
    </div>
    <span>до</span>
    <div class="date-wrapper">
      <p-calendar appendTo="body" [showButtonBar]="true" (onClose)="sortClients()" [(ngModel)]="dateTo" [showTime]="false" hourFormat="24" [firstDayOfWeek]="1"></p-calendar>
    </div>
  </div>
</p-toolbar>
<za-grid [gridConfig]="gridConfig"
  [gridData]="sortedClients"
  [actions]="gridActionsConfig"
  [getColorConfig]="getColorConfig"
></za-grid>

<za-spinner *ngIf="loading"></za-spinner>
