<p></p>
<p-toolbar>
  <div class="p-toolbar-group-left">
    <button
      pButton
      type="button"
      [disabled]="fieldConfigs.length === 0"
      label="Добавить клиента"
      icon="pi pi-plus"
      (click)="openNewClientWindow()"
    ></button>

    <div style="display: flex; flex-direction: column; align-items: center;">
      <p-multiSelect
        appendTo="body"
        *ngIf="availableStatuses.length > 0"
        [options]="availableStatuses"
        [(ngModel)]="selectedStatus"
        placeholder="Статус сделки"
        optionLabel="label"
        optionValue="value"
        (onPanelHide)="sortClients()"
        selectedItemsLabel="{0} статусов выбрано"
        [maxSelectedLabels]="1"
      ></p-multiSelect>
    </div>
  </div>
</p-toolbar>
<p></p>
<za-grid [gridConfig]="gridConfig"
  [gridData]="sortedClients"
  [actions]="gridActionsConfig"
  [getColorConfig]="getColorConfig"
></za-grid>

<za-spinner *ngIf="loading"></za-spinner>
