.wrapper {
  width: 100%;

  .content {
    width: 100%;
    display: flex;
    justify-content: space-around;

    p-accordion {
      width: 100%;
    }
  }
}

p-editor.ng-invalid::ng-deep > div {
  border: red 1px solid;
}

p-accordiontab.invalid::ng-deep .p-accordion-header {
  border: red 1px solid;
}

.tab-wrapper.questionnaire,
.tab-wrapper.general-condition {
  form {
    .form-field {
      // width: 100%;
      display: flex;
      margin-bottom: 5px;

      label {
        width: 30%;
        // white-space:;
      }

      input {
        flex: 1 1 auto;
      }
    }

    // .form-field:nth-child(4n - 1), .form-field:nth-child(4n) {
    //   label {
    //     font-weight: 700;
    //   }

    //   input {
    //     border-color: black;
    //   }
    // }
  }
}

.tab-wrapper.inspectionForm {
  label {
    padding: 10px 0;
  }
  form.inspectionForm {
    .list-inputs {
      label {
        width: 30%;
        display: flex;
        align-items: center;
      }

      .special-field {
        display: flex;

        .p-field-checkbox {
          width: 30%;
          display: flex;

          label {
            width: 70%;
            order: -1;
          }
        }

        .p-inputgroup {
          width: 70%;
        }
      }
    }

    .independent-inputs {
      margin: 20px 0;
    }
  }
}

.checkbox-title {
  font-weight: 600;
  margin-left: 25px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.tab-wrapper.carWeightInspection {
  position: relative;
  display: flex;
  align-items: center;

  & > img.car-photo {
    width: 700px;
  }

  & > img.car-history {
    width: 300px;
    height: min-content;
  }

  & > form {
    .p-inputgroup {
      width: 100px;
      position: absolute;
    }

    .p-inputgroup:nth-child(1) {
      top: 16px;
    }

    .p-inputgroup:nth-child(2) {
      top: -1px;
      left: 200px;
    }

    .p-inputgroup:nth-child(3) {
      top: -1px;
      left: 368px;
    }

    .p-inputgroup:nth-child(4) {
      top: 15px;
      left: 548px;
    }

    .p-inputgroup:nth-child(5) {
      top: 170px;
    }

    .p-inputgroup:nth-child(6) {
      top: 238px;
      left: 347px;
    }

    .p-inputgroup:nth-child(7) {
      top: 315px;
      left: 581px;
    }

    .p-inputgroup:nth-child(8) {
      top: 406px;
    }

    .p-inputgroup:nth-child(9) {
      top: 433px;
      left: 168px;
    }

    .p-inputgroup:nth-child(10) {
      top: 443px;
      left: 406px;
    }

    .p-inputgroup:nth-child(11) {
      top: 424px;
      left: 555px;
    }
  }
}

:host {
  .container {
    padding: 0;
  }

  .footer {
    border-top: 0;
    text-align: right;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    display: flex;
    justify-content: flex-end;
  }

  .footer button {
    margin: 0 0.5rem 0 0;
    width: auto;
  }
}
