<div class="card">
  <div class="card-body">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="filter()">
      <div
        class="flex flex-row justify-content-between align-items-center row-gap-1 col-12"
      >
        <div class="flex flex-row row-gap-1 align-items-center">
          <input
            class="ml-2 p-inputtext"
            type="text"
            formControlName="mark"
            pInputText
            placeholder="Марка"
          />

          <input
            class="ml-2 p-inputtext"
            type="text"
            formControlName="model"
            pInputText
            placeholder="Модель"
          />

          <p-multiSelect
            *ngIf="availableCarStatuses.length > 1"
            class="ml-2"
            formControlName="status"
            [options]="availableCarStatuses"
            placeholder="Статус"
            optionLabel="label"
            optionValue="value"
            selectedItemsLabel="{0} статусов выбрано"
            [maxSelectedLabels]="1"
          ></p-multiSelect>

          <!-- *ngIf="onSelectContactUserAvailable && contactCenterUserOptions.length > 0 " -->
          <p-dropdown
            class="ml-2"
            [options]="contactCenterUserOptions"
            [formControlName]="FieldNames.Car.contactCenterSpecialistId"
            placeholder="Сотрудник ОКЦ"
            [filter]="true"
            filterBy="name"
            optionLabel="label"
            optionValue="key"
            [showClear]="true"
          ></p-dropdown>

          <p-calendar
            class="ml-2"
            formControlName="date"
            selectionMode="range"
            [showTime]="false"
            [showButtonBar]="true"
            placeholder="Даты"
            [firstDayOfWeek]="1"
            [showClear]="true"
          ></p-calendar>

          <input
            pInputText
            class="ml-2 p-inputtext"
            type="text"
            formControlName="number"
            pInputText
            placeholder="Телефон"
          />
        </div>
        <div class="flex flex-row row-gap-1 align-items-center">
          <p-button
            [label]="selectedFiltersLabel"
            icon="pi pi-filter"
            (click)="op.toggle($event)"
          />
          <p-overlayPanel
            #op
            [showCloseIcon]="true"
            [style]="{ width: '550px', padding: '10px' }"
          >
            <ng-template pTemplate>
              <div class="p-fluid grid formgrid">
                <div
                  *ngFor="let filter of filters"
                  class="p-field col-4"
                  style="
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 10px;
                  "
                >
                  <ng-container *ngIf="filter.type === FieldTypes.Dropdown">
                    <span style="margin-bottom: 2px">{{ filter.title }}</span>
                    <p-dropdown
                      [ngModelOptions]="{ standalone: true }"
                      appendTo="body"
                      [autoDisplayFirst]="true"
                      [options]="filter.variants || []"
                      [(ngModel)]="filter.value"
                      (onChange)="changeFilter($any(filter), $event)"
                      optionLabel="label"
                      optionValue="value"
                    ></p-dropdown>
                  </ng-container>

                  <ng-container *ngIf="filter.type === FieldTypes.Multiselect">
                    <span style="margin-bottom: 2px">{{ filter.title }}</span>
                    <p-multiSelect
                      [ngModelOptions]="{ standalone: true }"
                      appendTo="body"
                      [options]="filter.variants || []"
                      [(ngModel)]="filter.value"
                      placeholder="Все"
                      optionLabel="label"
                      optionValue="value"
                      (onChange)="changeMultiselectFilter(filter, $event)"
                      selectedItemsLabel="{0} выбрано"
                      [maxSelectedLabels]="0"
                    ></p-multiSelect>
                  </ng-container>

                  <ng-container *ngIf="filter.type === FieldTypes.Text">
                    <span style="margin-bottom: 2px">{{ filter.title }}</span>

                    <input
                      [ngModelOptions]="{ standalone: true }"
                      type="text"
                      [(ngModel)]="filter.value"
                      (change)="
                        changeFilter(filter, transformFormInputEvent($event))
                      "
                      pInputText
                      [placeholder]="'Все'"
                    />
                  </ng-container>

                  <ng-container *ngIf="filter.type === FieldTypes.Number">
                    <span style="margin-bottom: 10px"
                      >{{ filter.title }}
                      {{
                        (filter.values[0] === filter.min
                          ? 'Все'
                          : filter.values[0]) +
                          ' - ' +
                          (filter.values[1] === filter.max
                            ? 'Все'
                            : filter.values[1])
                      }}</span
                    >
                    <p-slider
                      [ngModelOptions]="{ standalone: true }"
                      [min]="filter.min"
                      [max]="filter.max"
                      [(ngModel)]="filter.values"
                      [step]="filter.step"
                      [range]="true"
                      (onChange)="changeNumberRangeFilter(filter, $event)"
                    ></p-slider>
                  </ng-container>
                </div>
              </div>
            </ng-template>
          </p-overlayPanel>

          <p-button
            size="small"
            type="button"
            label="Очистить"
            (onClick)="clearFilters()"
            class="mr-2"
          >
          </p-button>
        </div>
      </div>

      <p-toolbar>
        <div class="p-toolbar-group-left">
          <span>Выбрано автомобилей: {{ getAllSelectedCars() }}</span>
          <span>Всего автомобилей: {{ sortedCars.length }}</span>
          <span
            >Кол-во: {{ (carsBaseDataService.list$ | async)?.total || 0 }}</span
          >
          <!-- Быть не должно, но уверен  еще пригодится-->

          <button
            pButton
            type="button"
            label="Добавить машину"
            icon="pi pi-plus"
            (click)="openNewCarWindow()"
          ></button>
        </div>

        <div class="p-toolbar-group-right">
          <p-button size="small" label="Обновить" type="submit" class="mr-2" />
        </div>
      </p-toolbar>
    </form>
  </div>
</div>

<div class="grid-wrapper">
  <za-pageagle-grid
    [gridConfig]="gridConfig"
    [actions]="gridActionsConfig"
    [getColorConfig]="getColorConfig"
    [dataService]="carsBaseDataService"
    [sortField]="'createdDate'"
    [first]="first"
  ></za-pageagle-grid>
</div>

<za-spinner *ngIf="loading$ | async"></za-spinner>
