.main-wrapper {
  // padding: 10px;
  width: 100%;
  height: 100vh;
  background-color: var(--surface-b);
  display: flex;
  flex-direction: column;

  za-setting-header {
    margin: var(--header-margin);
    height: var(--header-height);
  }

  p-card {
    // flex: 1 1 auto;
    height: calc(100% - var(--header-margin) - var(--header-margin) - var(--header-margin) - var(--header-margin) - var(--header-height) - var(--header-height));
    padding: var(--header-margin);
    ::ng-deep > div {
      height: 100%;

      .p-card-body {
        height: 100%;
      }

      .p-card-content {
        height: 100%;
        overflow: auto;
      }
    }
  }


  za-setting-footer {
    margin: var(--header-margin);
    height: var(--header-height);
  }
}
